
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
      form{;text-align:center; }
      body
    </style>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>


<body style="background-color:#66CDAA;" >
<h2   style="text-align:center">REGISTRATION</h2>
<form  action="register" method="POST"  >
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter your username"><br>
<!--    <input type="text" name="first_name" placeholder="enter your first_name"><br>-->
<!--    <input type="text" name="last_name" placeholder="enter your last_name"><br>-->
<!--    <input type="email" name="email" placeholder="enter your email"><br>-->
    <input type="password" name="password" placeholder="Enter your password"><br>
    <input type="password" name="password1" placeholder="Confirm your password"><br>
     <input type="submit">

</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>